<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <!-- 
        Changes to the xsi:type property defines the destination of the message.
        Changes to the filename property defines the name of the output file used.  
        Changes to the layout property defines how the individual lines in the logfile are written.

        See destination types at: http://nlog-project.org/wiki/Targets
        See Options at: http://www.nlog-project.org/layoutrenderers.html
        See http://www.nlog-project.org/config.html for further informations.
        -->

        <target name="logFile"
                xsi:type="File"
                layout="${longdate} ${level} ${logger}: ${message} ${exception:format=ToString}"
                fileName="${basedir}/Logs/PlusFlex [${logger}] ${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2"/>

        <target name="logFileTrace"
                xsi:type="File"
                layout="${longdate} ${level} ${logger}: ${message} ${exception:format=ToString}"
                fileName="${basedir}/Logs/PlusFlexTrace [${logger}] ${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2"/>

        <target name="email" xsi:type="Mail"
                smtpServer="mail.someserver.com"
                from="sender@someserver.com"
                to="receiver@someserver.com"/>
    </targets>

    <rules>
        <!-- Default logger -->
        <logger name="*" minlevel="Trace" writeTo="logFileTrace" />
    </rules>
</nlog>
